.main-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('../../assets/images/banana.png');
    background-repeat: no-repeat;
}

.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-top: 150px;
    border-radius: 2%;
    z-index: 1;
    
}

h1 {
    font-size: 60px;
    line-height: 100%;
}

.welcome-button-group {
    margin-top: 30px;
    margin-right: 100px;
}

.welcome-button {
    background-color: #FFE618;
    padding: 10px;
}

.welcome-button:hover {
    background-color: black;
    color: #FFE618;
}

.button-login {
    padding: 3px;
}

.image-back {
    z-index: -1;
}

@media (min-width: 1440px){
    .welcome-card {
        margin-right: 150px;
    }
}