.logout {
    color: white;
    
    font-size: 15px;
}
  
.nav-bar {
position: fixed;
width: 100%;
top: 0;
z-index: 1;
margin-bottom: 80px;
}
  
.tool-bar {
justify-content: flex-start;
gap: 5px;
background-color: #FFE618;
font-size: 20px;
}
  
button {
    font-size: 15px; 
}

button:hover {
    color: #FFE618;
    background-color: black;
}

.button-div {
    margin-left: 20px;
}

.title {
    color: red;
}

.banana-img {
    width: 40px;
}
  