<app-navbar></app-navbar>
<div id="movie-card-container">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i = index">
      <img class="movie-image" src={{movie.ImageUrl}} alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-button
              class="card-button"
              (click)='openGenre(movie.Genre.Name, movie.Genre.Description)'
          >
              Genre
          </button>
          <button
              mat-button
              class="card-button"
              (click)='openDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)'
          >
              Director
          </button>
          <button
              mat-button
              class="card-button"
              (click)='openSynopsis(movie.Title, movie.ImageUrl, movie.Description)'
          >
              Synopsis
          </button>
          <button class="movie-card-heart" mat-icon-button (click)="addToUserFavorites(movie._id)">
              <mat-icon> favorite_border </mat-icon>   
          </button>
      </mat-card-actions>
  </mat-card>
</div>