<mat-card>
    <mat-card-header>
      <mat-card-title>Log-In Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <!-- ngModel directive used to bind the form input values entered by the user to the loginData object in the login component -->
          <input
            matInput
            [(ngModel)]="userCredentials.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          >
          </mat-form-field>
          <mat-form-field>
          <input
            matInput
            [(ngModel)]="userCredentials.Password"
            type = "password"
            placeholder="Password"
            name="Password"
            required
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- Event binding used to invoke the userLogin function in the login component when the button is clicked -->
        <button
          mat-button
          (click)="loginUser()"
          class="login-button"
        >
          Log-In
        </button>
    </mat-card-actions>
  </mat-card>
